
.btn-das{
  padding: 10px 30px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #3E4141;
  background-color: white;
  transition: 0.5s;
  width: 120px;
  margin-top: 30px;
}

.btn-das:hover{
  background-color:#00B6B5;
  color:hsl(180, 2%, 17%);
}

.list-group-item{
  cursor: pointer;
}

ul{
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

li{
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}

li:hover{
  opacity: 0.5;
}

h3{
  color: white;
  font-size: 1.2em;
  margin-bottom: 20px;
}

